* {
    font-size: large;
}
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    background-color: #9f9f9f;
    padding: 0 20px;
}

.navbar .logo-right {
    margin-right: auto;
    background: none;
        border: none;
}

.navbar .cart-left {
    background: none;
        border: none;
    margin-left: auto;
}
